@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

.content{
    display: grid;
    grid-template-areas: 
    ". . . ."
    ". hero . form"
    ". hero . form"
    ".  . . .";
    gap: 85px;
}

h1{
    font-size: 3em;
    font-weight: bolder; 
}
aside h1 span, main h2 span{
    color: lightcoral;
}

main{
    grid-area: form;
    padding-left: 30px;
    width: 600px;
    height: 500px;
    border:  1px solid black;
}
 aside{
    grid-area: hero;
 }

main h2{ 
    font-size: 2em;

}

main .actions{
    display: flex;
    flex-flow: column;
    justify-content:center ;
    align-items: center;
    
}

main .actions a{
    background-color: lightskyblue;
    font-size: 1.5em;
    height: 50px;
    width: 400px;
    margin-top: 50px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

main .actions a + a{
    background-color: lightpink;
    margin-top: 20px;
    margin-bottom: 50px;
}

main footer p {
    font-size: 1em;
    display: block;
    text-align: center;
}

main footer a{
    font-size: 0.8em;
    display: block;
    text-align: center;
}
